@use 'colors' as *;
@use 'reset';
.small-logo {
	display: flex;
	align-items: center;
	&__text {
		font-size: 3rem;
		color: white;
	}
	&__img {
		position: relative;
		right: 0.7em;
		top: 0.5em;
		height: 40px;
		width: 40px;
	}
}
.section {
	margin-bottom: 10em;
	scroll-margin-top: 120px;
}
.section-title {
	display: inline-block;
	position: relative;
	font-size: 2.4rem;
	font-weight: 700;
	margin-bottom: 4rem;
	margin-inline: auto;
	&::before {
		position: absolute;
		content: '';
		bottom: -0.1em;
		left: 0;
		width: 100%;
		height: 5px;
		border-radius: 2em;
		background-color: $primary-text;
	}
}
.m-cta1 {
	padding: 1.2em 1.6em;
	max-width: 200px;
	background-color: $primary-object;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s;
	&__text {
		font-size: 1.6rem;
		font-weight: 500;
		color: white;
	}
	&:hover {
		background-color: $primary-object-hover;
	}
}
.m-cta2 {
	background-color: white;
	border: 3px solid $primary-object;
	height: 50px;
	width: 185px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s;
	font-size: 1.8rem;
	font-weight: 500;
	color: $primary-text;
}
.m-cta2:hover {
	background-color: $primary-object;
	color: white;
}
.our-offer-cta {
	position: relative;
	top: -1em;
	font-size: 1.6rem;
	color: white;
	background-color: $primary-object;
	height: 50px;
	width: 165px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.5rem;
	font-weight: 500;
	transition: 0.3s;
	margin-top: 2em;
	&:hover {
		background-color: $primary-object-hover;
	}
}
.nav {
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	width: 100%;
	height: 90px;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	z-index: 5;
	&__items {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
		width: 100%;
	}
	&__contact-us {
		display: none;
	}
	&__mid-items {
		display: none;
	}
	&__burger {
		cursor: pointer;
	}
}
.dropout-nav {
	display: flex;
	position: fixed;
	top: 0;
	right: -29em;
	background-color: white;
	max-width: 280px;
	width: 85%;
	height: 100vh;
	background-color: $primary-object;
	z-index: 6;
	overflow: hidden;
	transition: 0.3s;
	&__close {
		width: 33px;
		height: 33px;
		cursor: pointer;
	}
	&__container {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		text-align: right;
		padding: 3.6em 2.5em;
		width: 100%;
	}
	&__items {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin-top: 6.5em;
		&__item {
			font-size: 2.2rem;
			padding-block: 0.6em;
			color: white;
			font-weight: 500;
		}
		&__item:last-of-type {
			font-weight: 700;
		}
	}
	&__line-between {
		position: relative;
		height: 1px;
		width: 100%;
		background: linear-gradient(to right, transparent, white);
	}
}
.show-dropout-nav {
	right: 0em;
}
.header {
	background-image: url('../img/hero-image.webp');
	width: 100%;
	height: 700px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 10em;
	&__container {
		display: flex;
		justify-content: center;
		flex-direction: column;
		height: 600px;
		gap: 2.5em;
	}
	&__hero-text,
	.contact-hero-text {
		font-size: 3.8rem;
		color: white;
		font-weight: 500;
		span {
			color: $primary-text;
		}
	}
	&__hero-subtext {
		font-size: 1.8rem;
		color: white;
		font-weight: lighter;
	}
}
.sub-h {
	&__container {
		align-items: center;
		justify-content: flex-start;
		margin-top: 9em;
	}
	&__hero-text {
		font-size: 3.2rem;
		text-align: center;
	}
}
.main {
	width: 100%;
}
.benefits {
	width: 100%;
	margin-block: 10em;
	.wrapper {
		width: 100%;
	}
	&__items {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 6.5em;
		width: 100%;
	}
	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		gap: 2em;
		&__img {
			height: 80px;
		}
		&__text {
			max-width: 240px;
			font-size: 1.6rem;
			text-align: center;
			font-weight: 500;
		}
	}
}
.panels,
.magazines {
	.wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 4em;
		width: 100%;
	}
	&__img {
		object-fit: cover;
		width: 100%;
		border-radius: 1em;
		max-width: 700px;
	}
	&__text-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 1.5rem;
		&__warranty {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 2rem;
			font-weight: 700;
			color: $primary-text;
			gap: 1.5rem;
			img {
				width: 30px;
				height: 30px;
			}
		}

		&__main-text {
			font-size: 1.8rem;
			text-align: center;
		}
	}
}
.installation {
	.wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	&__introduction {
		font-size: 2rem;
		color: black;
		margin-bottom: 3em;
		text-align: center;
		span {
			color: $primary-text;
		}
	}
	&__steps,
	&__step {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	&__steps {
		gap: 2.4em;
	}
	&__step {
		gap: 1em;
		&__title {
			color: $primary-text;
			font-weight: 700;
			font-size: 2rem;
		}
		&__description {
			font-size: 1.6rem;
			text-align: center;
			max-width: 520px;
		}
	}
}
.testimonials {
	position: relative;
	top: -3em;
	padding-block: 3em;
	width: 100%;
	background-color: #f6f6f6;
	&__container,
	&__items {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	&__item {
		text-align: center;
		margin-bottom: 3.4em;
		&__text {
			font-size: 1.6rem;
			margin-bottom: 1.4rem;
			max-width: 480px;
		}
		&__person {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 1.2em;
		}
		&__img {
			width: 40px;
			height: 40px;
		}
		&__name {
			font-size: 1.6rem;
			font-weight: 700;
			color: #5b5a5a;
		}
	}
	&__item:first-of-type {
		margin-top: 1.2em;
	}
}
.gallery {
	position: relative;
	top: -2.5em;
	width: 100%;
	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;
	}
	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
		gap: 2em;
		margin-block: 0.5em;
		width: 100%;
		&__img {
			width: 100%;
			aspect-ratio: 1 / 1;
			object-fit: cover;
			display: block;
		}
	}
}
.cta-section-bottom {
	position: relative;
	top: -2em;
	width: 100%;
	&__container {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 1em;
		text-align: center;
	}
}
.footer {
	background-color: $primary-object;
	width: 100%;
	color: white;
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding-block: 3em;
	}
	&__upper {
		display: flex;
		justify-content: space-between;
		width: 100%;
		span {
			text-align: right;
			font-size: 1.4rem;
			color: white;
		}
	}
	&__mid {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-top: 3em;
		gap: 3em;
		&__top {
			display: flex;
			flex-direction: column;
			gap: 1.2em;
		}
		&__title {
			font-size: 1.8rem;
			font-weight: 700;
		}
		&__items {
			display: flex;
			flex-direction: column;
			gap: 0.7em;
			a {
				color: white;
				font-size: 1.5rem;
			}
		}
		&__bot {
			display: flex;
			flex-direction: column;
			gap: 1.2em;
		}
	}
}
.go-up {
	position: fixed;
	right: 30px;
	bottom: -50px;
	height: 4.5em;
	width: 4.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: #f0f0f0;
	transition: 0.2s;
	img {
		height: 28px;
		width: 28px;
	}
}
.show-go-up {
	bottom: 30px;
}
// sekcja dla kontaktu i contact form

.contact-form {
	width: 100%;
	margin: 0 auto;
	max-width: 550px;
	width: 100%;
	&__container {
		margin-top: -33em;
		margin-bottom: 5em;
		padding: 4em 3em;
		background-color: rgba(237, 237, 237, 0.78);
		border-radius: 0.6em;
		width: 100%;
		display: flex;
		flex-direction: column;
		h2 {
			font-size: 2.2rem;
			margin-bottom: 1.4em;
			font-weight: 700;
		}
	}
	&__actual-form {
		display: flex;
		flex-direction: column;
		gap: 2em;
		&__item {
			display: flex;
			flex-direction: column;
			gap: 0.2em;
			label {
				font-size: 1.6rem;
				font-weight: 500;
			}
			input,
			textarea {
				font-size: 1.6rem;
				padding: 0.5em 1em;
				border: 2px solid #333;
				border-radius: 0.3em;
				font-family: 'Poppins', sans-serif;
				&:focus {
					background-color: #f1f1f1;
					outline: none;
				}
			}
		}
		&__send {
			height: 40px;
			width: 100px;
			font-size: 1.6rem;
		}
	}
	&__info {
		display: flex;
		flex-direction: column;
		gap: 0.2em;
		margin-top: 3em;
		font-size: 1.8rem;
		b {
			color: black;
			span {
				color: $primary-text;
			}
		}
	}
	&__feedback {
		visibility: hidden;
		font-size: 1.6rem;
		font-weight: 700;
		margin-top: 1em;
		transition: 0.3s;
	}
}
.error {
	border: 2px solid red !important;
}
.show-feedback {
	visibility: visible;
}
// wycena instalacji kurwa kurwa kurwa
.calc-form {
	width: 100%;
	margin: 0 auto;
	max-width: 550px;
	width: 100%;
	h2 {
		font-size: 2.2rem;
		margin-bottom: 1.4em;
		font-weight: 700;
	}
	&__container {
		margin-top: -33em;
		margin-bottom: 5em;
		padding: 4em 3em;
		background-color: rgba(237, 237, 237, 0.78);
		border-radius: 0.6em;
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	&__actual-calc {
		display: flex;
		flex-direction: column;
		gap: 2em;
		margin-bottom: 5em;
		&__item {
			display: flex;
			flex-direction: column;
			gap: 0.2em;
			label {
				font-size: 1.6rem;
				font-weight: 500;
			}
			input,
			textarea {
				font-size: 1.6rem;
				padding: 0.5em 1em;
				border: 1px solid #333;
				border-radius: 0.3em;
				font-family: 'Poppins', sans-serif;
				&:focus {
					background-color: #f1f1f1;
					outline: none;
				}
			}
			&__radios {
				display: flex;
				gap: 3em;
				margin-top: 0.5em;
				&__radio {
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 0.6em;
					font-size: 1.6rem;
					input[type='radio'] {
						scale: 1.5;
					}
				}
			}
		}
		&__send {
			height: 40px;
			width: 100px;
			font-size: 1.6rem;
		}
	}
	&__bottom-p {
		font-size: 1.8rem;
		font-weight: 700;
		margin-bottom: 1em;
	}
	&__bottom-box {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		width: 100%;
		height: 400px;
		background-color: #ffffff;
		border-radius: 0.6em;
		padding: 2em;
		&__items {
			display: flex;
			flex-direction: column;
			gap: 1em;
			margin-bottom: 3em;
		}
		.zapo-p,
		.magazyn-p {
			font-size: 1.5rem;
			font-weight: 500;
			span {
				font-weight: 700;
			}
		}
		.wynik-instalacji-p {
			font-size: 1.7rem;
			font-weight: 400;
			span {
				font-weight: 700;
			}
		}
		.dotacja-info {
			bottom: 1.4em;
			font-size: 1.6rem;
			a {
				font-weight: 700;
				color: $primary-text;
			}
		}
	}
}
