@use 'colors' as *;
@use 'mobile';
@use 'tablet';
@use 'desktop';
@use 'reset';
@use 'styles';
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.woff2') format('woff2');
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Medium.woff2') format('woff2');
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Bold.woff2') format('woff2');
	font-weight: 700;
	font-display: swap;
}

a {
	text-decoration: none;
}
body {
	font-family: 'Roboto';
	font-weight: 400;
}
.wrapper {
	font-family: 'Roboto';
	font-weight: 400;
	max-width: 1340px;
	width: 100%;
	padding-inline: 2em;
	margin: 0 auto;
}
